body {
    
}

#bgDiv {
    z-index: -1;
    position: absolute;
    left: -15px;
    top: -15px;
    width: 130%;
    height: 130%;
    opacity: 70%;
    background-image: url(https://i.imgur.com/osNRFCN.gif);
    background-size: cover;
    filter: blur(4px);
}

#trafficTop {
    background-color: black;
    width: 10px;
    height: 70px;
    margin: auto;
}

#mainLight {
    background-color: black;
    width: 65px;
    margin: auto;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.light {
    width: 50px;
    height: 50px;
    margin:  3px auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}
.red {
    background-color: #990000;
}
.yellow {
    background-color: #ea9708;
}
.green {background-color: #009933;}

.purple {
    background-color: #6d11b8;
    display: none; 
}

.selectedRed{box-shadow: #fc3835 0px 0px 40px 15px;}
.selectedYellow{box-shadow: #fbb608 0px 0px 40px 15px;}
.selectedGreen{box-shadow: #2db024 0px 0px 40px 15px;}
.selectedPurple{box-shadow: #ea58fe 0px 0px 40px 15px;}


#buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.purpsButton {
    margin: 0px 3px;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: indigo;
}

#cycleButton {
    margin: 0px 3px;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(29, 119, 255);
    color: white;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
